QWidget
{
	color: #b6b6b6;
	background-color: #2e2e2e;

	font-weight: bold
}

QDockWidget
{
        border: 3px solid red;
        border: 1px solid white;
        border-color: #b6b6b6;
}

QProgressBar
{
	height: 4px;
	border: 1px solid #1e1e1e;
	border-radius: 2px;
}

QProgressBar::chunk
{
	border-radius: 2px;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #644624, stop: 1 #a27e34);
}

QLabel#previewArea
{
	background-color: rgb(0, 0, 0);
}
